.button{
    -fx-background-color: #21bf73;
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #b0eacd;
    -fx-scale-y: 1.1;
    -fx-font-size: 36;
    -fx-alignment: center;
}

.button:focused{
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-size: 32;
    -fx-alignment: center;
    -fx-border-color: #142850;
    -fx-border-width: 0px 0px 0px 3px;
}

.buttonBuscar{
    -fx-background-color: #f9fcfb;
    -fx-text-fill: #fd5e53;
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-background-radius: 5;
}