.button{
    -fx-background-color: #21bf73;
    -fx-text-fill: #ffffff;
    -fx-font-size: 36;
    -fx-alignment: center;
}

.buttoncito{
    -fx-background-color: #21bf73;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-alignment: center;
}