.button{
    -fx-background-color: transparent;
    -fx-background-image: url('../photos/logo.png');
    -fx-background-size: 180px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}

.buttonCarrito{
    -fx-background-color: transparent;
    -fx-background-image: url('../photos/carrito.png');
    -fx-background-size: 80px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}