.button{
    -fx-background-color: #21bf73;
    -fx-text-fill: #ffffff;
    -fx-font-size: 26;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #b0eacd;
    -fx-scale-y: 1.1;
    -fx-font-size: 26;
    -fx-alignment: center;
}

.button:focused{
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-size: 26;
    -fx-alignment: center;
    -fx-border-color: #142850;
    -fx-border-width: 0px 0px 0px 3px;
}

